<form action="{% url 'registro' %}" enctype="multipart/form-data" method="get" id="formularioRegistro">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Nombre Producto: </label>
        <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{Producto.nombreProducto}}" required readonly>
    </div>

    <div class="form-group">
        <label for="descripcion">Descripcion del Producto: </label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" value="{{Producto.descripcion}}" required readonly>
    </div>

    <div class="form-group">
        <label for="foto_p">Foto Producto: </label>
        <input type="file" name="foto_p" id="foto_p" value="{{Producto.foto}}">
    </div>

    <div class="form-group">
        <label for="precio">Precio Producto: </label>
        <input class="form-control" type="number" id="precio" name="precio" placeholder="Precio" value="{{Producto.precio}}" required readonly>
    </div>

    <div class="form-group">
        <label>Nombre de la Categoria: </label>
        <select class="form-control" name="categoria" id="categoria" >
            {% for x in categoria %}
                <option value="{{ x.categoria }}">{{ x.categoria }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar Producto</button>

</form>